* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #dfdfdf;
}

.container {
    display: flex;
    margin: 10px;
    padding: 10px;
    gap: 10px;
}

.board {
    border: 1px solid rgb(184, 184, 184);
    border-radius: 10px;
    height: 90vh;
    width: 60%;
    padding: 20px;
    margin-left: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
}

.tasks {
    height: 80vh;
    padding: 10px;
    margin: 10px 0;
    overflow: auto;
}

.task-item {
    background-color: aliceblue;
    padding: 10px;
    margin: 10px 0; 
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.task-item:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.add-task-btn button{
    padding: 2px;
    border: none;
    all: unset;
    cursor: pointer;
}

.add-task-btn button:hover{
    border: none;
    color: rgb(0, 100, 53);
    cursor: pointer;
    font-weight: bold;
}

.head-title {
    display: flex;
    justify-content: space-between;
}

span {
    background-color: rgb(250, 213, 213); 
    padding: 10px; 
    display: inline-block; 
    text-align: center;
    border-radius: 15px;
}

h4 {
    padding: 10px; 
    display: inline-block; 
    text-align: center;
    border-radius: 15px;

}


.hover-message {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    background-color: #333;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.hover-message::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

#rest-todo-board:hover + .hover-message {
    opacity: 1;
    visibility: visible;
}

#rest-todo-board:hover {
    background-color: #45a049;
}